<div *ngIf="valido">

  <form (submit)="update(form.value)" *ngIf="!changed" [formGroup]="form" nz-form nzLayout="vertical">

    <app-authentication-header
      description="authentication.update-password.header.message">
    </app-authentication-header>

    <nz-input-group nzPrefixIcon="anticon anticon-lock" nzSize="large" style="margin-bottom: 10px">
      <input formControlName="novaSenha" nz-input placeholder="{{'authentication.login.input.password.new' | translate}}"
             type="password">
    </nz-input-group>
    <app-control-messages [control]="form.controls.novaSenha"></app-control-messages>

    <nz-input-group nzPrefixIcon="anticon anticon-lock" nzSize="large">
      <input formControlName="passwordConfirm" nz-input placeholder="{{'authentication.login.input.password.confirmation' | translate}}"
             type="password">
    </nz-input-group>
    <app-control-messages [control]="form.controls.passwordConfirm"></app-control-messages>

    <button class="primary-btn" nz-button nzBlock nzSize="large" nzType="primary" type="submit">
      {{ 'authentication.update-password.button.update' | translate }}
    </button>
  </form>

  <div *ngIf="changed">

    <app-authentication-header></app-authentication-header>

    <nz-result
      nzStatus="success"
      nzSubTitle="{{'authentication.update-password.message.success.description' | translate }}"
      nzTitle="{{'authentication.update-password.message.success.title'|translate}}">
    </nz-result>

    <button (click)="goToLogin()" class="primary-btn" nz-button nzBlock nzSize="large" nzType="primary" type="submit">
      {{ 'authentication.update-password.button.go_to_login' | translate }}
    </button>

  </div>
</div>

<div *ngIf="!valido">
  <app-authentication-header class="hidden-xs"></app-authentication-header>

  <nz-result
    nzStatus="404"
    nzSubTitle="{{'authentication.update-password.message.error.description' | translate }}"
    nzTitle="{{'authentication.update-password.message.error.title'|translate}}"
    style="padding: 0">
  </nz-result>

  <button (click)="goToLogin()" class="primary-btn" nz-button nzBlock nzSize="large" nzType="primary" type="submit">
    {{ 'authentication.update-password.button.go_to_login' | translate }}
  </button>
</div>
