<form [formGroup]="form" nz-form nzLayout="vertical">

  <ng-template #dados>

    <div *ngIf="!profileEdition && tipos.length>1" nz-row nzGutter="16">
      <div [nzMd]="8" nz-col nzLg="6">
        <app-form-item controlName="tipoUsuario" label="security.usuario.field.tipousuario">
          <nz-select formControlName="tipoUsuario">
            <nz-option *ngFor="let p of tipos" [nzLabel]="'enums.tipo_usuario.' + p | translate"
                       [nzValue]="p"></nz-option>
          </nz-select>
        </app-form-item>
      </div>
    </div>

    <div nz-row nzGutter="16">
      <div [nzLg]="12" [nzMd]="16" [nzSm]="24" nz-col>
        <app-form-item [required]="true" controlName="username" label="security.usuario.field.username">
          <input formControlName="username" id="username" maxlength="50" nz-input type="text">
        </app-form-item>
      </div>
      <div *ngIf="!edit" [nzMd]="6" nz-col>
        <app-form-item controlName="active" label="security.usuario.field.active">
          <nz-select formControlName="active" style="width: 100%;">
            <nz-option [nzValue]="true" nzLabel="{{'security.usuario.values.active.true' | translate}}"></nz-option>
            <nz-option [nzValue]="false" nzLabel="{{'security.usuario.values.active.false' | translate}}"></nz-option>
          </nz-select>
        </app-form-item>
      </div>
    </div>

    <app-form-item [explain]="!local ? 'Usuários com autenticação externa terão seu nome atualizado no sistema de origem durante o Login' : null" [required]="local" controlName="nome"
                   label="security.usuario.field.nome">
      <input formControlName="nome" maxlength="250" nz-input type="text">
    </app-form-item>

    <app-form-item [required]="true" controlName="email" label="security.usuario.field.email">
      <input formControlName="email" nz-input type="text">
    </app-form-item>

    <div nz-row nzGutter="16">
      <div [nzMd]="8" nz-col>
        <app-form-item controlName="sexo" label="security.usuario.field.sexo">
          <nz-select [nzAllowClear]="true" formControlName="sexo">
            <nz-option *ngFor="let p of generos" [nzLabel]="'enums.sexo.' + p | translate" [nzValue]="p"></nz-option>
          </nz-select>
        </app-form-item>
      </div>

      <div [nzMd]="8" nz-col>
        <app-form-item controlName="nascimento" label="security.usuario.field.nascimento">
          <nz-date-picker formControlName="nascimento" [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
        </app-form-item>
      </div>

    </div>

  </ng-template>

  <ng-template #actions>
    <div class="actions" style="margin-top: 40px">
      <button (click)="saveInfo(form.value)" class="btn-salvar" nz-button
              nzType="primary">{{ 'general.buttons.save' | translate }}</button>
      <button (click)="back()" class="btn-voltar" nz-button nzType="default">{{ backLabel | translate }}</button>
    </div>
  </ng-template>

  <table class="hidden-sm" style="width: 100%">
    <tr>
      <td style="width: 1px; padding: 0 60px 0 40px; vertical-align:top;">
        <nz-form-label nzNoColon="true">&nbsp;</nz-form-label>
        <app-usuario-avatar (change)="avatar = $event" [avatar]="avatar"></app-usuario-avatar>
      </td>
      <td>
        <div [ngTemplateOutlet]="dados"></div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div [ngTemplateOutlet]="actions"></div>
      </td>
    </tr>
  </table>

  <div class="sm-only">
    <div [nzGutter]="16" nz-row>
      <div [nzLg]="4" [nzMd]="8" [nzSm]="8" [nzXs]="24" nz-col>
        <app-usuario-avatar (change)="avatar = $event" [avatar]="avatar"></app-usuario-avatar>
      </div>
      <div [nzLg]="20" [nzMd]="16" [nzSm]="16" [nzXs]="24" nz-col>
        <div [ngTemplateOutlet]="dados"></div>
        <div [ngTemplateOutlet]="actions"></div>
      </div>
    </div>
  </div>

</form>
