<app-page-header [title]="title" [breabcrumb]="breadcrumb"></app-page-header>

<nz-card>
  <form nz-form [formGroup]="form" nzLayout="vertical">
      <div nz-row nzGutter="16">
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.descricao" controlName="descricao" [required]="true">
                  <input nz-input type="text" formControlName='descricao' [maxLength]='255'/>
              </app-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.placa" controlName="placa" [required]="true">
                  <input nz-input type="text" formControlName='placa' [maxLength]='255'/>
              </app-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.renavam" controlName="renavam" [required]="true">
                  <input nz-input type="text" formControlName='renavam' [maxLength]='255'/>
              </app-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.vendedor" controlName="vendedor" [required]="true">
                  <input nz-input type="text" formControlName='vendedor' [maxLength]='255'/>
              </app-form-item>
          </div>
      </div>
      <div nz-row nzGutter="16">
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.comprador" controlName="comprador" [required]="true">
                  <input nz-input type="text" formControlName='comprador' [maxLength]='255'/>
              </app-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.valorcompra" controlName="valorCompra" [required]="true">
                <input currencyMask nz-input type="text" formControlName='valorCompra'
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
              </app-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.valorvenda" controlName="valorVenda" [required]="true">
                <input currencyMask nz-input type="text" formControlName='valorVenda'
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
              </app-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6">
              <app-form-item label="security.carro.field.data" controlName="data" [required]="true">
                  <nz-date-picker formControlName='data' [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
              </app-form-item>
          </div>
      </div>
      <nz-collapse>
        <nz-collapse-panel nzHeader="Imagens" (nzActiveChange)="buscaImagens($event)">
            <div class="clearfix">
                <nz-upload
                    [nzBeforeUpload]="beforeUpload"
                    nzListType="picture-card"
                    [(nzFileList)]="fileList"
                    [nzShowButton]="fileList.length < 8"
                    [nzPreview]="handlePreview"
                    [nzRemove]="nzRemove"
                    >
                    <div>
                    <i nz-icon nzType="plus"></i>
                    <div style="margin-top: 8px">Anexar</div>
                    </div>
                </nz-upload>
                <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                    <ng-template #modalContent>
                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                    </ng-template>
                </nz-modal>
            </div>
        </nz-collapse-panel>
      </nz-collapse>
      <div class="actions">
          <button nz-button class="btn-salvar" nzType="primary" (click)="save(form.value)">{{ 'general.buttons.save' | translate }}</button>
          <button nz-button class="btn-voltar" nzType="default" (click)="back()">{{ 'general.buttons.back' | translate }}</button>
      </div>
  </form>
</nz-card>
