<app-authentication-header
  description="authentication.password-recovery.desc"
  title="authentication.login.label.forgot-password">
</app-authentication-header>

<form (ngSubmit)="send(form.value)" [formGroup]="form" nz-form nzLayout="vertical" role="form">
  <nz-input-group nzPrefixIcon="anticon anticon-user" nzSize="large">
    <input formControlName="username" id="username" nz-input placeholder="{{'authentication.login.input.username' | translate}}"
           type="text">
  </nz-input-group>

  <div>
    <button (click)="send(form.value)" class="primary-btn" nz-button nzBlock nzSize="large" nzType="primary">
      {{'general.buttons.send'|translate}}
    </button>
    <div style="text-align: center; padding: 10px 0;">
      <a (click)="cancel.emit()" style="text-decoration: underline;">
        {{'general.buttons.back'|translate}}
      </a>
    </div>
    <div style="height: 25px">
      <div *ngIf="error" style="text-align: center; color: red;">
        <i nz-icon nzTheme="fill" nzType="warning" style="margin-right: 10px; font-weight: normal"></i>
        <span style="font-weight: bold">{{error}}</span>
      </div>
    </div>
  </div>
</form>
